<div role="main" class="hero">

  {% snippet 'home/snippets/stats.html' %}
    <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" id="content">
 <div class="container">
  <div class="row heading">
       <h2 class="span12">Datos por grupos</h2>
       </div>
       <div class="row categories">
	       <div class="span4">
	           <div class="module-content government">

	               <h3><i class="fa fa-map-marker" aria-hidden="true"></i><a href="/group/land">Economía y mercado</a></h3>
	           </div>

	           <div class="module-content government">

	               <h3><i class="fa fa-plus-sign-alt" aria-hidden="true"></i><a href="/group/health">Salud</a></h3>
	           </div>

	           <div class="module-content government">

    	               <h3><i class="fa fa-sitemap" aria-hidden="true"></i><a href="/group/local-government">Demográficos y socioeconómicos</a></h3>
	           </div>
	       </div>

	       <div class="span4">
	           <div class="module-content government">

       	               <h3><i class="fa fa-leaf" aria-hidden="true"></i><a href="/group/environment">Medio ambiente</a>
                       </h3>
       	           </div>
	           <div class="module-content government">

                       <h3><i class="fa fa-road" aria-hidden="true"></i><a href="/group/transport">Transporte</a></h3>
                   </div>
	           <div class="module-content government">

  	               <h3><i class="fa fa-eye" aria-hidden="true"></i><a href="/group/education">Educación</a></h3>
  	           </div>
	       </div>

	       <div class="span4">
	           <div class="module-content government">

       	               <h3><i class="fa fa-gavel" aria-hidden="true"></i><a href="/group/state-sector">Legislación</a></h3>
       	           </div>

	           <div class="module-content government">

                       <h3><i class="fa fa-users" aria-hidden="true"></i><a href="/group/population-and-society">Turismo</a></h3>
                   </div>

                   <div class="module-content government">

  	               <h3><i class="fa fa-flag" aria-hidden="true"></i><a href="/group/arts-culture-and-heritage">Mapas</a></h3>
  	           </div>
	       </div>
	</div>
          <div class="row info">
      </div>
</div>
