<footer class="site-footer">
	<div class="site-footer__style-1"></div>
	<div class="site-footer__navigation">
		<div class="site-footer__inner">
			<div class="site-footer__col-1">
				<h2>
					¿Qué buscas?
				</h2>
				<hr class="margin-t-sm margin-b-sm">
				<ul class="menu vertical md-2-column site-footer__menu">
					<li>
						<a href="{{ h.parent_site_url() }}/" class="link">
							Inicio
						</a>
					</li>

					<li>
						<a href="/dataset" class="link">
							Conjuntos de Datos
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/catalogue-guide/" class="link">
							Guía del catálogo de datos
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/toolkit/" class="link">
							Kit de apertura de datos
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/leadership/" class="link">
							Tutoriales
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/blog/" class="current">
							Noticias
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/about/" class="link">
							Acerca de
						</a>
					</li>
				</ul>
			</div>
			<div class="site-footer__col-2">
				<h2>
					Sobre este sitio
				</h2>
				<hr class="margin-t-sm margin-b-sm">
				<ul class="menu vertical site-footer__menu">
					<li>
						<a href="{{ h.parent_site_url() }}/terms-of-use/" class="link">
							Términos de uso
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/privacy-policy/" class="link">
							Política de privacidad
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/copyright/" class="link">
							Licencia de datos
						</a>
					</li>

					<li>
						<a href="/user/login" class="link">
							Login entidades
						</a>
					</li>
				</ul>
			</div>
			<div class="site-footer__col-3">
				<h2>
					Contáctanos
				</h2>
				<hr class="margin-t-sm margin-b-sm">
				<ul class="menu vertical site-footer__menu">
					<li>
						<a href="{{ h.parent_site_url() }}/contact-us/" class="link">
							Contacto
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/feedback/" class="link">
							Reportar
						</a>
					</li>

					<li>
						<a href="https://github.com/data-govt-nz" class="link">
							Github
						</a>
					</li>

					<li>
						<a href="{{ h.parent_site_url() }}/request-data/" class="link">
							Solicitar datos
						</a>
					</li>
				</ul>
				<ul class="social-menu">
					<li>
						<a href="https://twitter.com/epicogye" aria-label="Encuéntranos en Twitter" class="ri ri-twitter"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="site-footer__bottom">
		<div class="site-footer__inner">
			<div class="site-footer__col-copyright">
				<div class="row">
					<div class="col-md-3">
						<img src="/dia/images/cc_icons.png" alt="CC BY 4.0" width="83">
					</div>
					<div class="col-md-9">
						<small>Todo el contenido se provee bajo licencia <a class="external" href="https://creativecommons.org/licenses/by/4.0/" rel="external license">Creative Commons 4.0 International Licence&nbsp;<span class="ri  ri-external-link" aria-label="(external site link)"></span></a></small><br>
						<small>EPICO 2021</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% block footer_debug %}
		{% if g.debug %}
			{% include 'snippets/debug.html' %}
		{% endif %}
	{% endblock %}
</footer>
