{% block header_site_navigation_tabs %}
    <li><a href="{{ h.url_for(controller="package", action="search") }}/" class="site-header__menu-item menu-item current" title="Obtener datos">Obtener datos</a></li>
    <li><a href="{{ h.parent_site_url() }}/catalogue-guide/" class="site-header__menu-item menu-item" title="Guía del catálogo">Guía del catálogo</a></li>
    <li><a href="{{ h.parent_site_url() }}/toolkit/" class="site-header__menu-item menu-item" title="Kit de apertura">Kit de apertura</a></li>
    <li><a href="{{ h.parent_site_url() }}/leadership/" class="site-header__menu-item menu-item" title="Tutoriales">Tutoriales</a></li>
    <li><a href="{{ h.parent_site_url() }}/blog/" class="site-header__menu-item menu-item" title="Noticias">Noticias</a></li>
    <li><a href="{{ h.parent_site_url() }}/about/" class="site-header__menu-item menu-item" title="Acerca de">Acerca de</a></li>
{% endblock %}
